<div class="popup-overlay">
    <div class="popup-content">
        <button class="close-button" (click)="closePopup()">X</button>

        <h2>Zmien swoje haslo</h2>
        <form (ngSubmit)="changePassword(currentPassword)">
            <label for="currentPassword">Obecne haslo:</label>
            <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword"
                required><br><br>

            <label for="newPassword">Nowe haslo:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required><br><br>

            <label for="confirmNewPassword">Potwierdz nowe haslo:</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                required><br><br>

            <button type="submit" class="default-button">Zmien haslo</button>
        </form>
    </div>
</div>