<div class="popup-overlay">
    <div class="popup-content">
        <button class="close-button" (click)="closePopup()">X</button>

        <h2>Zmień swoje hasło</h2>
        <form (ngSubmit)="changePassword()" [formGroup]="myForm">
            <label for="currentPassword">Obecne hasło:</label>
            <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required
                minlength="5" formControlName="currentPasswordInput">

            <label for="newPassword">Nowe haslo:</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required minlength="5"
                formControlName="newPasswordInput">

            <label for="confirmNewPassword">Potwierdź nowe hasło:</label>
            <input type="password" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmNewPassword"
                required minlength="5" formControlName="confirmNewPasswordInput">

            <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
            <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

            <button type="submit" class="default-button">Zmień hasło</button>
        </form>
    </div>
</div>