.popup-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px 0;
}

.popup-content {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  overflow: auto;
  z-index: 2;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
}

.default-button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #408fa9;
  color: #fff;
  border: none;
  width: 140px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.default-button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: rgb(255, 66, 66);
  float: right;
  border: none;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  padding-top: 3px;
  font-size: 14px;
  color: white;
}
.close-button:hover {
  background-color: rgb(196, 18, 18);
  font-weight: bold;
  font-size: 16px;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
}

.success-message {
  color: rgb(17, 217, 17);
  font-size: 14px;
  text-align: center;
}

.ng-invalid.ng-touched {
  border-color: #f44336;
}
