<div class="container">
    <form (ngSubmit)="uploadImage()" enctype="multipart/form-data">

        <input type="file" accept=".jpg,.jpeg,.png" id="file-input" class="custom-file-input"
            (change)="onFileSelected($event)" />
        <div class="file-input-container">
            <label for="file-input" class="custom-file-label">Wyszukaj plik</label>
            <button type="submit" [disabled]="isButtonDisabled"
                [ngClass]="{'disabled-button': isButtonDisabled, 'enabled-button': !isButtonDisabled}">Dodaj
                obraz</button>
        </div>
    </form>

    <span class="selected-file-text" [innerHTML]="spanInnerHTML"></span>
</div>