<div class="popup-overlay">
    <div class="popup-content">
        <button class="close-button" (click)="closePopup()">X</button>

        <h2>Witaj {{ userLogin }}!</h2>

        <div class="button-container">
            <button class="default-button" (click)="toggleChangePasswordPopup()">Zmien haslo</button>
            <app-change-password *ngIf="isChangePasswordPopupVisible"
                (close)="toggleChangePasswordPopup()"></app-change-password>

            <button class="default-button" (click)="logOut()">Wyloguj</button>
        </div>
    </div>
</div>