.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 5px 0;
  background-color: rgb(247, 247, 247);
  border: 1px dashed black;
}

.app-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  font-size: 32px;
}
.app-title-margin {
  margin-left: 140px;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 2px;
  margin-top: 15px;
}

button {
  background-color: #408fa9;
  color: #fff;
  border: none;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  font-size: 18px;
}
button:hover {
  background-color: #395db0;
}

.footer {
  width: 100%;
  padding-bottom: 20px;
  position: relative;
  bottom: 0;
  margin-top: 50px;
}

.footer p {
  text-align: center;
  font-size: 17px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
}
