<div class="header">
    <div class="app-title" [ngClass]="{'app-title-margin': isLoggedIn$ | async}">
        <h1>Photo Gallery App</h1>
        <i class="fa-solid fa-camera"></i>
    </div>

    <button *ngIf="isButtonVisible && (isLoggedIn$ | async)" (click)="togglePopup()"><i class="fa-solid fa-user"></i>
        &nbsp;Profil</button>
    <app-settings-popup *ngIf="isPopupVisible" (close)="togglePopup()"></app-settings-popup>
</div>

<router-outlet></router-outlet>

<div class="footer">
    <p>TNAF 2022/2023 UMK &copy; - Photo Gallery App | Adrian Rodzic</p>
</div>