button {
  background-color: #408fa9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}
button:hover {
  background-color: #395db0;
}
