/* custom-dialog.component.css */
.custom-dialog {
  background-color: #f9f9f9;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 24px;
  border-radius: 8px;
}

.custom-dialog-title {
  font-size: 24px;
  margin-bottom: 16px;
}

.custom-dialog-content {
  font-size: 18px;
  margin-bottom: 24px;
}

.custom-dialog-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

.custom-dialog-actions button {
  font-size: 18px;
  margin-left: 8px;
  padding: 8px 16px;
  background-color: #408fa9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.custom-dialog-actions button:hover {
  background-color: #395db0;
}
